<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    CLICK HERE
  </button>
 <a routerLink='/newpage'><button type="button" class="btn btn-success btn-lg" >
    GO TO NEW
  </button></a>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">ENTER TEXT</h4>
        </div>
        <div class="modal-body">
          <input class="form-control" type="text" placeholder="enter text" [(ngModel)]='modalText'>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)=showModel() data-dismiss="modal">ENTER</button>
        </div>

      </div>
    </div>
  </div>

<p>{{modalTextonDom}}</p>
